.Nature {
  width: 70%;
  height: 400px;
  position: absolute;
  left: 15%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.arrows {
  width: 50px;
  position: absolute;
}
.forward-arrow {
  left: 85%;
  top: 180px;
}
.back-arrow {
  left: 12%;
  width: 45px;
  top: 180px;
  transform: scaleX(-1);
}

